body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.d-none {
  display: none;
}

.nav,
.left,
.right {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0%;
}

.nav {
  padding: 1em;
  justify-content: space-between;
}
.nav .left .hLink {
  margin-left: 2em;
}
.nav .left .hLink {
  cursor: pointer;
}
.nav .right .cart {
  font-size: 1.2em;
  margin-right: 2em;
}
.nav .right .cart, .nav .right .cartQuantity {
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 4em;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  border: 0;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.05em;
}

.nav {
  padding: 0.5;
}
.nav .logo {
  width: 7em;
  margin-left: 1em;
}
.nav .profile {
  width: 2em;
}
.nav .cartQuantity {
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  position: relative;
  left: 2.7em;
  bottom: 0.7em;
  width: 1.7em;
  font-size: 0.6em;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
}

.cartPreview {
  position: absolute;
  background-color: white;
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
  width: 80vw;
  height: 14em;
  z-index: 2;
  position: absolute;
  box-shadow: 0px 0px 73px -19px rgba(0, 0, 0, 0.75);
}
.cartPreview h2 {
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.cartPreview hr {
  opacity: 0.5;
  margin-bottom: 1em;
}
.cartPreview .cartProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartPreview .cartProdDetails {
  display: flex;
  align-items: center;
}
.cartPreview .productCartImg {
  width: 4em;
  border-radius: 5px;
  margin-right: 1em;
}
.cartPreview .pCP {
  display: flex;
}
.cartPreview .pCP > div {
  margin-right: 0.5em;
}
.cartPreview .pCP .finalPrice {
  font-weight: 700;
}
.cartPreview .delete {
  color: hsl(220deg, 14%, 75%);
}
.cartPreview .btn {
  margin-top: 1em;
  height: 3em;
}
.cartPreview .emptyCart {
  height: 6em;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  align-items: center;
}

.main .header-menu {
  background-color: #fff;
  width: 60vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: -50em;
  padding-top: 1.5em;
  z-index: 2;
}
.main .header-menu .closeMenu {
  margin: 0em 0em 2em 1em;
}
.main .header-menu .headerList {
  list-style-type: none;
  font-weight: 700;
  font-size: 1.2em;
  padding-left: 1em;
}
.main .header-menu .headerList .li {
  margin-bottom: 0.5em;
}
.main .previewProduct .productImg {
  width: 100%;
  height: 18em;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .track-container {
  overflow-x: hidden;
  height: 100vh;
}

.product {
  padding: 1em;
}
.product-company {
  color: hsl(26deg, 100%, 55%);
  padding: 1em 0em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 700;
}
.product-name {
  font-weight: 700;
  font-size: 1.8em;
  max-width: 10em;
  margin-bottom: 1em;
}
.product-desc {
  color: hsl(219deg, 9%, 45%);
  font-size: 1.1em;
  line-height: 1.3;
}
.product-priceSection {
  margin: 1.5em 0em;
}
.product-priceSection, .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .price {
  font-weight: 700;
  font-size: 1.6em;
  margin-right: 0.4em;
}
.product .discount {
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  padding: 0.2em;
  border-radius: 5px;
}
.product .originalPrice {
  color: hsl(220deg, 14%, 75%);
  font-weight: 700;
}
.product .amount {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
  background-color: hsl(223deg, 64%, 98%);
  border-radius: 5px;
  padding: 1em;
}
.product .amount .quantity {
  font-weight: 700;
}

@media (max-width: 688px) {
  .desk {
    display: none;
  }
  .cartPreview {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 12em;
    z-index: 1;
  }
  .arrows .arrowStyle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    color: white;
    font-size: 1.2em;
  }
  .arrows .rightArrow,
.arrows .leftArrow {
    position: absolute;
  }
  .arrows .leftArrow {
    left: 1em;
  }
  .arrows .rightArrow {
    right: 1em;
  }
  .previewProduct .track {
    position: relative;
    bottom: 1em;
    height: 100%;
    transition: transform 500ms ease-in-out;
  }
  .previewProduct .track .slide {
    position: absolute;
    width: 100% !important;
  }
  .previewProduct .track .slide > .productImg {
    height: 20em;
  }
  .product {
    position: absolute;
    top: 24em;
  }
}
@media (min-width: 689px) and (max-width: 991px) {
  .tabletDisplayNo,
.mobileOnly {
    display: none;
  }
  .nav {
    border-bottom: 1px solid rgba(104, 112, 125, 0.1);
    margin-bottom: 4em;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
  }
  .main .cartPreview {
    width: 20em;
    top: 4em;
    right: 5em;
  }
  .main .previewProduct {
    margin-right: 2em;
  }
  .main .previewProduct .productImg {
    width: 20em;
    margin: 0.5em;
    border-radius: 10px;
  }
  .main .previewProduct .previewImages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .main .previewProduct .previewImages .thumbnail > img {
    border-radius: 10px;
    width: 4em;
    margin: 0.5em;
  }
  .main .product {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .desktopDisplayNo,
.mobileOnly {
    display: none;
  }
  header {
    width: 85vw;
    margin: auto;
  }
  .nav {
    border-bottom: 1px solid rgba(104, 112, 125, 0.1);
    margin-bottom: 4em;
  }
  .nav .logo {
    margin: 0;
  }
  .main {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .main .cartPreview {
    width: 20em;
    right: 10em;
    top: 3em;
  }
  .main .previewProduct {
    margin-right: 3em;
  }
  .main .previewProduct .productImg {
    width: 20em;
    margin: 0.5em;
  }
  .main .previewProduct .previewImages {
    list-style-type: none;
    display: flex;
    padding: 0;
  }
  .main .previewProduct .previewImages .thumbnail > img {
    width: 5em;
    margin-right: 0.5em;
  }
  .main .image {
    border-radius: 10px;
  }
  .main .thumbnail .image:hover {
    opacity: 0.6;
  }
  .main .outline {
    outline: 2px solid hsl(26deg, 100%, 55%);
    opacity: 0.6;
  }
  .main .product-priceSection {
    display: block;
  }
  .main .product-priceSection .product-price {
    justify-content: start;
  }
  .main .product .amount {
    width: 8em !important;
    float: left;
    margin: 0em 1em 0em 0em;
  }
  .main .product .btn {
    width: 12em;
    height: 3em;
  }
}
.headerOpen {
  -webkit-animation: openHeader 0.5s ease-in-out forwards;
          animation: openHeader 0.5s ease-in-out forwards;
}

@-webkit-keyframes openHeader {
  90% {
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  100% {
    left: 0;
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.54);
  }
}

@keyframes openHeader {
  90% {
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  100% {
    left: 0;
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.54);
  }
}
.headerClose {
  -webkit-animation: closeHeader 1s ease-out forwards;
          animation: closeHeader 1s ease-out forwards;
}

@-webkit-keyframes closeHeader {
  from {
    left: 0;
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.54);
  }
  10% {
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  100% {
    left: -50em;
  }
}

@keyframes closeHeader {
  from {
    left: 0;
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.54);
  }
  10% {
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  100% {
    left: -50em;
  }
}
.hide {
  -webkit-animation: hideDiv forwards 0.5s ease-in-out;
          animation: hideDiv forwards 0.5s ease-in-out;
}

.cartAnimation {
  -webkit-animation: cartPreview forwards 0.5s ease-in-out;
          animation: cartPreview forwards 0.5s ease-in-out;
}

@-webkit-keyframes cartPreview {
  from {
    margin-top: 0em;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 1em;
  }
}

@keyframes cartPreview {
  from {
    margin-top: 0em;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 1em;
  }
}
@-webkit-keyframes hideDiv {
  from {
    margin-top: 1em;
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-top: 0em;
  }
}
@keyframes hideDiv {
  from {
    margin-top: 1em;
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-top: 0em;
  }
}/*# sourceMappingURL=style.css.map */